.page-footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.page-header {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.page-main {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}